$bgSidebar:#002C54;
$colorSidebar: #DBAE58;
$colorItem: #FCFCFA;

$sizeIcons: calc(3vw + 10px);

$fontSizeSidebarTitle: calc(1.325vw + 10px);
$lineHeightSidebarTitle: calc(1.825vw + 10px);

$fontSizeSidebarItems: calc(0.55vw + 10px);
$lineHeightSidebarItem: calc(1.3vw + 10px);

$fontSizeMainName: calc(3.125vw + 15px);
$lineHeightMainName: calc(5.125vw + 15px);

$fontSizeMainPosition: calc(0.95vw + 10px);
$lineHeightMainPosition: calc(1.8vw + 10px);

$fontSizeExperiencePosition: calc(0.55vw + 10px);
$lineHeightExperiencePosition: calc(1.1vw + 10px);

$fontSizeExperienceCompany: calc(0.8vw + 10px);
$lineHeightExperienceCompany: calc(1.6vw + 10px);

$fontSizeMainPeriod: calc(0.15vw + 10px);
$lineHeightMainPeriod: calc(1vw + 10px);